body {
    background-color: #28a745;
    overflow: hidden
}

p {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.container {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 2px 22px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 22px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 22px 2px rgba(0, 0, 0, 0.75);
}

.padding-0 {
    padding: 0;
}

.tab-pane {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px
}

#img-logo {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-color: #002200;
    color: #ccffcc;
}


/* LOBBY */
.card {
    margin: auto;
    margin-top: 8px;
}

/* GAME */
#player1, #player2, #player3, #player4, #player5 {
    min-height: 64px;
    background-color: rgba(0, 0, 0, 0.5);
}


.img1 {
    position: absolute;
    bottom: -50px;
    left: -50px;
    transform: rotate(15deg);
}

.img2 {    
    position: absolute;
    bottom: -50px;
    right: -50px;
    transform: rotate(-15deg);
}

.banner {
    width: 270px;
    height: 400px;
}
    