<div class="row">
    <div class="col-2"></div>
    <div class="col-8" id="game-status"></div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-3" id="player3"></div>
    <div class="col-2"></div>
    <div class="col-3" id="player4"></div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-3" id="player2"></div>
    <div class="col-6" id="terreno"></div>
    <div class="col-3" id="player5"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8" id="player1"></div>
    <div class="col-2"></div>
</div>


<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
        <input id='chiamata-input' type="number" min="81" max="118" value="81" />
        <button id='chiamata-conferma' onclick='game.inviaChiamata()'>Conferma</button>
        <button id='chiamata-passa'>Passa</button>
    </div>

</div>