<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../assets/images/logo.png" width="60" height="30" alt="Bri5cola">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <p class="dropdown-item" id="dropdown-user-level">Action</p>
                    <p class="dropdown-item" id="dropdown-user-score">Another action</p>
                    <p class="dropdown-item" id="dropdown-user-winloserate">Another action</p>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" style="justify-content: center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Room#1</h5>
                    <table class="table" id="room1-table">

                    </table>
                    <button class="btn btn-info btn-block" onclick="sendToServer.joinRoom('room1')">Entra</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Room#2</h5>
                    <table class="table" id="room2-table">

                    </table>
                    <button class="btn btn-info btn-block" onclick="sendToServer.joinRoom('room2')">Entra</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Room#3</h5>
                    <table class="table" id="room3-table">

                    </table>
                    <button class="btn btn-info btn-block" onclick="sendToServer.joinRoom('room3')">Entra</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Room#4</h5>
                    <table class="table" id="room4-table">

                    </table>
                    <button class="btn btn-info btn-block" onclick="sendToServer.joinRoom('room4')">Entra</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Room#5</h5>
                    <table class="table" id="room5-table">

                    </table>
                    <button class="btn btn-info btn-block" onclick="sendToServer.joinRoom('room5')">Entra</button>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Room#6</h5>
                    <table class="table" id="room6-table">

                    </table>
                    <button class="btn btn-info btn-block" onclick="sendToServer.joinRoom('room6')">Entra</button>
                </div>
            </div>
        </div>
    </div>

</div>

